
events {
  worker_connections  1024;
}
http {
    upstream app {
        {% for server in item.value.servers %}
        server {{server}}:{{item.value.app_port}};
        {%endfor %}
    }

    server {
        listen 80;

        location / {
            proxy_pass http://app;
        }
    }
}

